/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #383232;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #ffffff;
    text-shadow: none;
}

::selection {
    background: #ffffff;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Global styles */
* {
    box-sizing: border-box;
}
body {
    font-size: 62.5%;
    font-weight: 400;
    color: #555;
    font-family: 'Dosis', sans-serif;
}
h1, h2, h3, h4 {
    font-weight: 400;
    color: #383232;

}
h1 {
    font-size: 2.8em;
    color: #ffffff;
    margin-left: 0.8em;
}
h2 {
    font-size: 2.5em;
    text-align: center;
    font-weight: 400;
    padding-top: 10px;
    font-weight: bold;
}
h3 {
    font-size: 1.8em;
    color: 383232;

}
h4 {
    font size: 1.3em;
}

p {
    font-size: 1.2em;
}
a {
    text-decoration: none;
}
strong {
    font-weight: 700;

}
hr {
    margin: 40px 0;
}
section {
    padding-top: 10px;
    padding-bottom: 10px;


}
.btn {
    font-weight: 500;
    font-size: 1.5em;
    color: #ffffff;
    background: #000;
    padding: 10px 30px;
    display: block;
    width: 160px;
    margin-left: 20px !important;
    }
    
}
.container {
    max-width: 1336px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: auto;
    margin-left: auto;
}
.redovi {
    float: left;
    width: 50%;
}

.container1 {
    display: inline;
   max-width: 1300px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
 
}
.nav {
    position: fixed;
    width: 51%;
    top: 5px;
    right: 10px;
    display:  none;

}
/* ======== HEADER ========== */
header {
    background-color: #fff;
    position: fixed;

    width: 100%;
  
    z-index: 10;
}
header .logo img {
    
 width: 150px;
}

}
nav {
    width: 100%;
    background: #383232;
    text-align: center;
   
}
nav ul {
    vertical-align: middle;
}
nav a {
    font-size: 1.8em;
    padding: 5px 10px;
    color:#625e5e;
}
nav .btn {
    background: #000;
    font-size: 1.8em;
    width: auto;
}
nav .close {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 20px;
    right: 50px;
    display: block;
    margin: 0;
}
nav .close span {
    width: 35px;
    height: 2px;
    background: white;
    display: block;
    transform: rotate(45deg);
}
nav .close span:nth-child(2) {
    transform: rotate(-45deg);
    position: relative;
    top: -2px;
}

.nav a{
   display: inline;
   float: left;
     text-align: center;

    padding: 14px 16px !important;
  text-decoration: none;
}
ul .nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menubtn{
    position: relative;
    left: 105px;
}
.btn {
    background-color: #000000;

}
/* ======== MENU END ========== */

/*============HERO SECTION=======================*/

.services .redovi {
    width: 100%;
}
.services .redovi img {
    float: left;
    display: block;
    width: 30%;
    margin-top: 30px;
}
.services .redovi .content {
    float: left;
    width: 70%;
    padding-left: 10px;

}

.portfolio {
    background-color: #6b6b6b;
}
.portfolio h2 {
    color: #fff;
}
.portfolio li {
    width: 50%;
    float: left;
    display: block;
    margin-bottom: 10px;
}
.portfolio li:nth-child(odd) {
    padding-right: 5px;
}
.portfolio li:nth-child(even) {
    padding-left: 5px;
}
.portfolio li img {
    display: block;
    max-width: 100%;
}

.contact .redovi:last-child {
    width: 100%;
    clear: both;
}
.contact h4 {
    margin: 10px 0px;
}
.contact ul {
    list-style: none;
    margin: 0;
    
   
}
.contact ul li {
    display: block;
  
    margin: 5px;
    text-align: center;
}
.contact li img {
    display: block;
    margin: 3px 10px;
}
.contact li a {
    font-size: 1.2em;
    color: #555;

}

.contact {
    background-color: #e6e6e6;
}

/* ========END HERO SECTION ========== */
.dolnjilogo {
   display: block;
  width: 50px !important;
  height: 100px !important;
  text-align: center
  color:#0000;
}

.text-center li{
    text-align: center;
}

.red {
  margin-left: auto;
  margin-right: auto;
 }

.red div{
    background-color: #e6e6e6;
}

.red ul {
    list-style-type: none;
}


.red img{

    max-width: 200px;
    position: relative;
   float:left;
}
.red2 {
    display: flex;
position: relative;
margin: 0px !important
 
}

.contact-container {
    display: flex;
}

.contact-img {
    display: flex;
}
div .red .red1 {
    text-decoration: none !important;
}

.footer {
  text-align: center;  
}

.bootom-nav a {
    font-size: 1.5em;
   text-decoration: none;
   color: #6e6e6e !important;
   padding: 10px 10px;
    display: inline-block;

    
}

/* ======== Modal  ========== */
.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.6);
}
.modal.open {
    display: block;
}
.modal-wrap {
    margin-top: 50px;
    max-width: 870px;
    width: 90%;
    padding: 20px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90%;
    overflow-y: auto;
}
.modal-wrap > * {
    display: inline-block;
}
.modal-wrap .close span {
    background-color: #d6d6d6;
}
.modal-wrap h3 {
    color: #29777c;
    width: 100%;
    text-transform: uppercase;

}
.modal-inner {
    max-width: 520px;
    margin: 0 auto;
}
legend {
    font-size: 20px;
    padding-bottom: 30px;
}

input {
    border: 1px solid #d6d6d6;
    width: 100%;
    padding: 20px 15px;
    margin-bottom: 20px;
    font-size: 1.6em;
   
}
input: placeholder {
  color: #d6d6d6;
  font-size: 16px;
  font-style: italic;
}
input: focus {
    outline: none;
    border-color: #29777c;
}
input.btn {
    max-width: 300px;
    margin: 0 auto;
    display: block;
    padding: 13px 15px;
    color: #ffffff;
}

.close {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    margin: 0;
    cursor: pointer;
}
button {
    background: transparent;
    border: none;
}

 input[type="date"]:before,
 input[type="time"]:before {
    content: attr(placeholder) !important;
    color: #d6d6d6;
    font-style: italic;
    margin-right: 0.5em;
  }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   =================    ========================================================= */


@media only screen and (min-width: 768px) {
   
  .logo li{
    width: 150px;
    max-width: 150px !important;
  }
   .menubtn{
        padding-left: 420px;
    }
    .unstyle-list img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40%;
    }
   
    ul .contact-img {

       position: relative;
       right: 100px;
       margin-left: 250px;


    }

    .services .redovi img {
        margin: 0;
        padding-right: 10px;
        padding-left: 10px;
    }
    .services .redovi .content {
        width: 50%;
    }
   .portfolio li img{
    width: 30%;
    float: left;
    display: block;
    margin-bottom: 10px;
    height: 375px;
    width: 375px;
}


.contact h4{
    margin: 10px 10px;
    }

    h4 {
        font-size: 1.5em;
        
    }

    h1 {
        display: block;
        font-size: 4em;

    }
}

@media only screen and (min-width: 1024px) {

     h2 {
    font-size: 3.2em;
    }
h3{
    font-size: 2.8em;
}
h4{
    font-size: 2em;
}
    p { 
     font-size: 1.5em

    }
    .nav {
        display: block;
    } 
     .menubtn{
        display: none;
        padding-left: 300px;
    }
header {
    background-color: #fff;
    position: fixed;
    height: 57px;
    width: 100%;
    padding: 2.5px 0px 8px;
    z-index: 10;
}

    .services .redovi .content {
        width: 100%;
        padding-top: 30px;
    }

  
    .services .redovi img {
    float: none;
    display: block;
    width: 80%;
    margin-top: 30px;
    vertical-align: middle;
}
.portfolio li img {
  height: 330px;
  max-width: 330px;
}
.contact-img {
    padding-left: 250px !important;          
}

.portfolio li {
    padding: 0 !important;
    width: 100%;
    margin-bottom: 0;
}
.content {
position: relative;
left: 10px !important;
 float: middle;
  width: 30%;
  padding: 5px;
       
}
.btn {
    font-size: 2em;
    color: #fff;
    background: #000;
    padding: 10px 30px;
    display: block;
    width: 200px;

    }

    .redovi {
    float: middle !important;
    width: 33.33% !important;
}


div .content {
    padding-left: 15px !important;
   
}
    .grid-ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;
    }
 


}

@media only screen and (min-width: 1200px) {
    h1{
        font-size: 3.5em;
    }

     p { 
     font-size: 2em

    }
.portfolio li img {
  height: 300px;
  max-width: 300px;
}
.four {
    grid-template-columns:repeat(4,1fr);
}
}

/* ==========================================================================
   Helper classes
   
   ========================================================================== */
.unstyle-list {
    margin: 0;
    padding: 0;
    list-style: none;
    color:#0000;
}
.text-center {
    text-align: center;
}
/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
button {
    background: transparent;
    border: none;
}
/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
